{
    "bracketSpacing": true,
    "printWidth": 80,
    "singleQuote": true,
    "semi": false,
    "trailingComma": "none",
    "tabWidth": 2,
    "useTabs": false,
    "bracketSameLine": true,
    "endOfLine": "auto"
}